[submodule "deps/simple-gin-logger"]
	path = deps/simple-gin-logger
	url = git@apulis-gitlab.apulis.cn:sdk/simple-gin-logger.git
[submodule "deps/go-utils"]
	path = deps/go-utils
	url = git@apulis-gitlab.apulis.cn:sdk/go-utils.git
[submodule "deps/go-business"]
	path = deps/go-business
	url = git@apulis-gitlab.apulis.cn:sdk/go-business.git

