
# 服务端口
port: 6100

grpc: 6101

debug: true # gin debug模式

# 数据库设置
db:
  serverType: postgres # 数据库服务器类型当前模板可选(postgres postgresql)
  username: postgres # 用户名
  password: AbdgdJVvBwYMAZeD # 密码
  host:    192.168.1.217 # 服务器host
  port:    3388 # 服务端口
  database: ai_lab # db名称
  maxOpenConns: 10 # 数据库连接池最大数量
  maxIdleConns: 2 # 数据库空闲连接池最大数量
  debug:        true #数据库debug模式

rabbitmq:
  user:     admin # 用户名
  password: uk5C7CvsbNlyLbQD # 密码
  host:     192.168.1.217 # host地址
  port:     0 #5678 # mq端口 5672

resources:
  model:          https://119.147.212.162:51080/apworkshop/api/v1         #模型管理接口
  dataset:        https://119.147.212.162:51080/iqi/api/v1/ad-hub         #数据集管理接口
  jobsched:       http://119.147.212.162:51080/job-scheduler/api/v1       #job调度管理接口
  engine:         http://adharbor.bmod:6140/api/v1                #镜像管理接口
  code:                                                    #代码管理暂时由模型工厂托管

storage: pvc://aiplatform-ailab-data-pvc

mounts:
  aiplatform-ailab-data-pvc:   /app/ai-labs-data

httpClient:
  maxIdleConns: 100
  maxConnsPerHost: 100
  maxIdleConnsPerHost: 100
  timeoutSeconds: 10


gatewayUrl: https://123.60.231.101:80

