
# 服务端口
port: 6100

grpc: 6101

debug: true # gin debug模式

time:
  timezoneStr: Asia/Shanghai # 时区名称

log:
  writeFile: true #enable file logger
  fileDir:
  fileName:
  level:
  maxSize:    10 # 10MB , > 0 open file as rotate logger
  maxAge:     30
  maxBackups: 30

# 数据库设置
db:
  serverType: postgres # 数据库服务器类型当前模板可选(postgres postgresql)
  username: postgres # 用户名
  password: root # 密码
  host:    dockerhost # 服务器host
  port:    5432 # 服务端口
  database: ai_lab # db名称
  maxOpenConns: 10 # 数据库连接池最大数量
  maxIdleConns: 2 # 数据库空闲连接池最大数量
  debug:        true #数据库debug模式

rabbitmq:
  user:     admin # 用户名
  password: uk5C7CvsbNlyLbQD # 密码
  host:     192.168.1.217 # host地址
  port:     0 #5678 # mq端口 5672

resources:
  model:          https://119.147.212.162:51080/apworkshop/api/v1         #模型管理接口
  dataset:        https://119.147.212.162:51080/iqi/api/v1/ad-hub         #数据集管理接口
  jobsched:       http://192.168.3.137:7000/api/v1       #job调度管理接口
  engine:         http://adharbor.bmod:6140/api/v1                      #镜像管理接口
  code:                                                                 #代码管理暂时由实验管理厂托管

storage: pvc://aiplatform-ailab-data-pvc

mounts:
  aiplatform-ailab-data-pvc:   /app/ai-labs-data

httpClient:
  maxIdleConns: 100
  maxConnsPerHost: 100
  maxIdleConnsPerHost: 100
  timeoutSeconds: 10

gatewayUrl: https://123.60.231.101:80
kubeVipAddress: "192.168.3.137"

clusterId:  xxx-xxx-xxxxxx

initToolImage:  harbor.apulis.cn:8443/aistudio/infra/init-container:aistudio-v0.1.0

#connector for version control system
VersionControl:
  gitea:
    url:      http://dockerhost:88/gitea/api/v1 # API地址
    user:     gitea       #管理员账号
    passwd:   apulis123   #管理员密码
    host:     gitea-http.default:3000
    sshHost:  gitea-ssh.default
    useHttp: false     #返回 user token操作git repo, 安全风险
    extranet:
      host:     "dockerhost:88"
      sshHost:  "dockerhost:89"
      prefix:   /gitea
