
# 服务端口
port: 10000

grpc: 10001

debug: false # gin debug模式

# 时间相关设置
time:
  timezoneStr: Asia/Shanghai # 时区名称

log:
  writeFile: false #enable file logger
  fileDir:   /app/ai-labs-data/_logs_
  fileName:  ai-lab.log
  level:
  maxSize:   10 # 10MB , > 0 open file as rotate logger
  maxAge:    30
  maxBackups: 30
# 数据库设置
db:
  serverType: postgres # 数据库服务器类型当前模板可选(postgres postgresql)
  username: postgres # 用户名
  password: postgres # 密码
  host: localhost # 服务器host
  port: 5432 # 服务端口
  database: ai_lab # db名称
  maxOpenConns: 10 # 数据库连接池最大数量
  maxIdleConns: 2 # 数据库空闲连接池最大数量
  debug:        false #数据库debug模式

rabbitmq:
  user:     admin # 用户名
  password: apulis123 # 密码
  host:     127.0.0.1 # host地址
  port:     5672 # mq端口

resources:
  code:
  dataset:    http://adhub-backend.default:80/api/v1                  #数据集管理接口
  engine:
  jobsched:   http://job-scheduler.default:80/api/v1                #job调度管理接口
  model:      http://apworkshop-backend-svc.default:80/api/v1          #模型管理接口
  apHarbor:   http://apharbor-backend.default:80/api/v1
  apWorkshop: http://apworkshop-backend.default:80/api/v1

storage: pvc://aiplatform-ailab-data-pvc

mounts:
  aiplatform-ailab-data-pvc:   /app/ai-labs-data


gatewayUrl:     https://123.60.231.101:80
kubeVipAddress: "192.168.3.137"

clusterId:  xxx-xxx-xxxxxx

initToolImage:  harbor.apulis.cn:8443/aistudio/infra/init-container:aistudio-v0.1.0

#connector for version control system
VersionControl:
  gitea:
    url:      http://dockerhost:88/gitea/api/v1 # API地址
    user:     gitea       #管理员账号
    passwd:   apulis123   #管理员密码
    host:     gitea-http.default:3000
    sshHost:  gitea-ssh.default
    useHttp:  false
    extranet:
      host:     "dockerhost:88"
      sshHost:  "dockerhost:89"
      prefix:   /gitea
